/* 
h1, h2, h3 {
    margin-top: 1.4em;
}

.nav-links {
    margin-bottom: 1.2em;
    font-size: 1.1em;
}
.nav-links a {
    margin-right: 15px;
} */

.site-header img {
    max-width: 80px;   /* adjust this value */
    height: auto;
}